<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Produtos</title>
</head>
<body>
 
    <h2>Cadastrar Produto<h2>
    <form action="/product" method="POST">
        <input type="text" placeholder="Nome do Produto" name="name">
        <br>
        <br>
        <textarea placeholder="Descrição" id="" cols="30" rows="10" name="description"></textarea>
        <br>
        <input type="text" placeholder="Categoria" name="category">
        <br>
        <input type="number" placeholder="Preço" name="price">
        <button type="submit">Submit</button>
    </form> 
    <br>
    <button><a href="/">Registrar Usuário</a></button>
 
</body>
</html>